<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Покупки</title>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="div_main">
    <form></form>
    <div>
        <table id="table_list">
            <caption><h1>Список покупок:</h1></caption>
            <tbody>
            <tr>
                <th><h3>Название</h3></th>
                <th><h3>Состояние</h3></th>
            </tr>
            </tbody>
        </table>
    </div>
    <form method="post">
        <input name="name"/>
        <input type="checkbox" name="bought"/>
        <button id="button_add">Добавить</button>
    </form>
</div>
</body>
</html>